@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    font-family: 'Nunito', sans-serif;
}

.center {
    background-color: #0D0D0D;
    box-shadow: 0px 0px 10px black;
    display: flex;
    flex-wrap: wrap;
    max-width: auto;
    height: 60px;
    align-items: center;
}

/*estilização do button de "mais"*/
.a-icon {
    display: flex;
    transition: 0.5s;
}

.a-icon:hover {
    filter: drop-shadow(0 0 20px #fff);
    transition: 0.5s;
}

.icon-config::after {
    background: none repeat scroll 0 0 transparent;
    bottom: 100px;
    content: " ";
    display: block;
    height: 2px;
    left: 0%;
    position: top;
    background: #D9D9D9;
    transition: 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.icon-configs:hover:after {
    width: 100%;
    left: 0;
}

.icon-config {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

/*Logo*/

.logo {
    height: 40px;
    width: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1px;
}

.logo::before {
    width: 90px;
    height: 40px;
    content: '';
    background-image: url(trello.gif);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.logo::after {
    content: '';
    background-image: url(trello_gif.gif);
}

/*Lista com os icones e buttom*/
.menu {
    display: grid;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
}

.lista_de_icones {
    display: flex;
    list-style: none;
    display: flex;
    height: 50px;
}

.li_menu {
    display: flex;
    align-items: center;
    margin-left: 30px;
    margin-top: 5px;
}

.ul::after {
    background: none repeat scroll 0 0 transparent;
    bottom: 100px;
    content: '';
    display: block;
    height: 2px;
    left: 0%;
    position: top;
    background: #D9D9D9;
    transition: 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.ul:hover:after {
    width: 100%;
    left: 0;
}

.li_menu:hover {
    transition: 0.5s;
    filter: drop-shadow(0px 0px 15px #D9D9D9);
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: -3px;
}

.button_config {
    text-decoration: none;
    display: flex;
    margin-top: 7px;
    margin-left: 30px;
    cursor: pointer;
    width: 50px;
    height: 30px;
    border-radius: 6px;
    border: #D9D9D9 solid;
    border-width: 1px;
    background-color: #D9D9D9;
    opacity: 1px;
    transition: 0.5s;
}

.button_config:hover {
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: inset 0px 12px 18px 5px rgba(0, 0, 0, 0.4);
    transition: 0.5s
}

.a_button {
    text-decoration: none;
}

.p_button {
    width: 50px;
    height: 30px;
    color: black;
    font-family: 'Manrope', sans-serif;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.p_button:hover {
    transition-duration: 0.5s;
    color: black;
}

/*configuração da deireita*/

.config_menu {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
}

.scroll_bar-button {
    outline-style: none;
    height: 100%;
    width: 15px;
    position: absolute;
    z-index: 5;
    left: 0;
    transition: transform 100ms ease-in;
}

/*Estilização dos cards*/
.board
{
    width: 100%;
    height: 100vh;
    overflow: scroll;
    background-position: center;
    background-size: cover;
}

#todo-form
{
    padding: 32px 32px 0;
}

#todo-form input
{
    padding: 12px;
    margin-right: 12px;
    width: 225px;

    border-radius: 4px;
    border: none;

    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
    background: white;

    font-size: 14px;
    outline: none;
}

.add_button
{
    display: inline-block;
    margin-top: 15px;
}

.input__add
{
    display: inline-block;
    height: 20px;
    color: #0D0D0D;
}

.input___inicial002
{
    display: grid;
    margin-top: 20px;
    background-color: #D9D9D9;
    text-align: center;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
    color: #0D0D0D;
}

.input___inicial001
{
    display: grid;
    background-color: #D9D9D9;
    text-align: center;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
    color: #0D0D0D;
}

#todo-form button
{
    padding: 12px 32px;

    border-radius: 4px;
    border: none;

    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
    background: #ffffff;
    color: black;

    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
}

/* ---- BOARD ---- */
.lanes
{
    display: flex;
    align-items: flex-start;
    justify-content: start;
    gap: 16px;

    padding: 24px 32px;

    overflow: scroll;
    height: 100%;
}

.heading
{
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 8px;
}

.statos__green
{
    border-radius: 5px;
    height: 10px;
    width: 50px;
    display: inline-block;
    background-color: #0BD904;
}

.status__red
{
    border-radius: 5px;
    height: 10px;
    width: 50px;
    display: inline-block;
    background-color: #F21F0C;
}

.status__blue
{
    border-radius: 5px;
    height: 10px;
    width: 50px;
    display: inline-block;
    background-color: #1767E2;
}

.div__green
{
    display: inline-block;
}

.swim-lane {
    margin-top: -8Finpx;
    display: flex;
    flex-direction: column;
    gap: 12px;

    background: #A6A6A6;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.);

    padding: 12px;
    border-radius: 8px;
    width: 225px;
    min-height: 120px;

    flex-shrink: 0;
}

.task
{
    background: #f2f2f2;
    color: #0D0D0D;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.40);

    padding: 12px;
    border-radius: 4px;

    font-size: 16px;
    cursor: move;
}

.is-dragging
{
    scale: 1.05;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
    background: rgb(50, 50, 50);
    color: white;
}

.input__001, input
{
    display: flex;
    width: 100%;
    height: 35px;
    font-size: 14px;
    background-color: #0D0D0D;
    border-style: none;
    border-radius: 5px;
    color: #fff;
}

.button_criar
{
    display: flex;
    width: 70px;
    height: 35px;
    align-items: center;
    justify-content: center;
    margin-left: 16px;
    margin-bottom: 10px;
    background-color: white;
    border-style: none;
    border-radius: 5px;
    cursor: pointer;
}

.p_criar
{
    font-size: 15px;
    margin-right: 3px;
}

.iconer___svg
{
    display: inline-block;
    margin-top: 5px;
    margin-left: 3px;
    margin-right: 3px;
}

.card-container
{
    display: grid;
    justify-content: center;
    color: #D9D9D9;
}